<div class="section">
  <div class="container">
    <div class="columns is-centered">
    <div class="column is-4">
      <h2 class="title is-2">Application Date </h2>
      <h3><%= @application.date_of_application %></h3>
      <h3>Notes<%= @application.notes %></h3>
      

    </div>
  </div>
</div>
</div>